.a1{
    outline: 5px inset yellow;
    width: 15%;
    text-align: center;
}
.a2{
    outline: 5px outset blue;
    width: 15%;
    text-align: center;
}
.a3{
    outline: 5px groove green;
    width: 15%;
    text-align: center;
}
.a4{
    outline: 5px ridge aqua;
    width: 15%;
    text-align: center;
}