.vro{
    /* background-color: burlywood; */
    background-image: url("https://parade.com/.image/c_limit%2Ccs_srgb%2Cq_auto:good%2Cw_680/MTkwNTc1ODc5NDk1MjMwNTg5/life-quotes-happy.webp");
    ;
    height: 100vh;
    width: 100%;
}