#a1{
    color: blueviolet;
    text-align: left;
    text-transform: capitalize;
}
#b1{
    color: chocolate;
    text-align: justify;
    text-indent: 40px;
}
#c1{
    color: darkcyan;
    text-align: left;
    text-transform: capitalize;
}
#d1{
    color: darkblue;
    text-align: left;
    text-transform: capitalize;
}