.bg{
    height: 100%;
    width: 100%;
    background-color: white;
}
.size1{
    height: 100vh;
    width: 100%;
}
.im2{
    height: 100px;
    width: 100px;
}
.im3{
    background-image: url("banner1.jpeg");
    height: 250px;
    width: 550px;
    color: white;
}
.im4{
    background-image: url("banner2.jpeg");
    height: 250px;
    width: 550px;
    color: white;
    
}
.u1{
    height: 80px;
    width: 80px;
    float: left;
}
.c1{
    width: 250px;
}
.f1{
    float: left;
}