.a1{
    background-color: darkgreen;
    color: white;
    position: static;
    left: 10px;
    bottom: 10px;
    padding: 10px;
    height: 50vh;
    width: 50%;
}
.a2{
    background-color: silver;
    color: aliceblue;
    position: relative;
    top: 5px;
    left: 50px;
    padding: 10px;
}
.a3{
    background-color: darkred;
    color: black;
    position: absolute;
    top: 20px;
    left: 20px;
    padding: 10px;
}
/* .a4{
    background-color: deepskyblue;
    color: black;
    position: absolute;
    top: 20px;
    left: 10px;
}
.a5{
    background-color: chartreuse;
    color: black;
    position: absolute;
    top: 20px;
    left: 20px;
} */